<?xml version="1.0" ?>
<launch>
  <node name="controller_switcher" pkg="franka_interface" type="controller_switcher.py" output="screen"/>
  <node name="input_node" pkg="franka_interface" type="input.py" output="log" />
  <node name="teleop_tcp" pkg="franka_interface" type="teleop_to_tcp_target_pose.py" output="log"/>
</launch>
