
share/catkin_ws/build/

share/catkin_ws/devel/

share/catkin_ws/src/CMakeLists.txt

share/catkin_ws/.catkin_workspace

share/assets/

share/catkin_ws/.catkin_tools/

share/catkin_ws/log.txt

legacy_ws/

share/log.txt

share/catkin_ws/src/.vscode/

*.pyc
